@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.input{
    width: 600px;
    height: 50px;
    margin: 15px 0px 15px 100px;
    border: none;
    border-radius: 5px;
    background-color: #F8F7F7;
    box-shadow: 10px 10px 5px rgba(172, 172, 172, 0.5);
    font-size: 1.3em;
}

.body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

/*---------------------------------LOGIN-------------------------------------------*/
.img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.loginFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonEnviar{
    background-color: #CD2C2C;
    color: white;
    height: 50px;
    margin: 15px 0px 15px 100px;
    width: 250px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(172, 172, 172, 0.5);
}

/*---------------------------------NAVBAR-------------------------------------------*/
.navbarContenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar{
    background-color: #CD2C2C;
    list-style: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    text-decoration: none;
    color: #F8F7F7;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    text-align: center;
}


/*-----------------------------Generales Mayoritariamente----------------------------------------*/
.boxDatos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    background-color: #D9D9D9;
    width: 1000px;
    height: 50px;
    border-radius: 5px;
}

.boxDato{
    font-size: 1.4em;
    width: 300px;
    text-align: center;
}

.funciones{
    background-color: #F3F3F3;
    width: 400px;
    border-radius: 5px;
    padding: 15px;
}


.botones{
    background-color: #CD2C2C;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #FFFF;
    text-align: center;
    font-size: 1em;
    margin:10px 30% 10px 30%;
}

.inputFunciones{
    background-color: #D9D9D9;
    border:none;
    border-radius: 5px;
    width: 45%;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    height: 25px;
}

.divFunciones{
    width: 30%;
    text-align: end;
    margin: 5px 5px 5px 0px;
}

.divInputFunciones{
    display: flex;
    flex-direction: row;
}

.subtitulos{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

/*--------------------------GRID----------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 40px;
}

.buscarGrid{
    grid-column: 5/13;
    grid-row: 1;
}

.funcionesGrid{
    grid-column: 2/4;
    grid-row: 1/3;
}

.resultadosGrid{
    grid-column: 5/13;
    grid-row: 2;
}

.buscarLabel{
    margin-left: 5px;
    margin-right: 5px;
}


/*----------------CCS UNIDAD --------------*/
.boxDatosUnidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: #D9D9D9;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.boxDatoUnidad{
    font-size: 1.1em;
    width: 300px;
    text-align: center;
    margin-top: 5px;

}


.detalleExtra{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 10px;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.habitado{
    border-bottom: 1px solid black;
}

.personas{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botonDetalle{
    border-radius: 10px;
    border: none;
}

.select{
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background-color: #F3F3F3;
}


/*PERSONAS*/
.funcionesGridPersonas{
    grid-column: 2/4;
    grid-row: 1/4;
}

.resultadosGridPersonas{
    grid-column: 5/13;
    grid-row: 2/5;
}

.busquedaGridPersonas{
    grid-column: 5/13;
    grid-row: 1;
}

/*MIS RECLAMOS*/
.inputFuncionesMR{
    background-color: #D9D9D9;
    border:none;
    border-radius: 5px;
    width: 45%;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    height: 25px;
}
.divFuncionesMR{
    width: 35%;
    text-align: end;
    margin: 5px 5px 5px 0px;
}

.divDescripcion{
    text-align: center;
    margin: 5px 5px 5px 0px;
}

.inputDescripcion{
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 10px;
    margin: 0px 5px 5px 0px;
}

.divSelectReclamo{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.divElegirReclamo{
    margin-right: 10px;
}

.ElegirReclamo{
    background-color: #D9D9D9;
    border-radius: 5px;
    border:none;
}


.divMostrarRaclamo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
    background-color: #D9D9D9;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.detalleExtraMR{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.alinearSubtitulo{
    text-align: center;
    margin-top: 10px;
}

.inputDescripcionCR{
    width: 45%;
    height: 100px;
    border-radius: 10px;
    margin: 0px 5px 5px 0px;
}

.divTextDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divFuncionesCR{
    width: 35%;
    text-align: end;
    margin: 5px 5px 5px 0px;
}

.CR{
    grid-column: 4/7;
    grid-row: 1;
}


/*RECLAMOS*/

.boxDatosExtrasReclamo{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: #EBEBEB;
    width: 1000px;
    padding: 10px;
    border-radius: 5px;
}

.datoPrimerasFila{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.divMuestraDatos{
    display: flex;
    flex-direction: row;
}

.busquedas{
    display: flex;
    width: 1000px;
}

.selectReclamo{
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    background-color: #F3F3F3;
}

.inputBusquedaReclamos{
    background-color: #D9D9D9;
    border:none;
    border-radius: 5px;
    width: 400px;
    margin: 5px;
    padding-left: 10px;
    height: 25px;
}


.DivEstados{
    display: flex;
    flex-direction: column;
}

/*USUARIOS*/
.busquedaUsuarioPosicion{
    Display: flex;
    Flex-direction: row;
    width: 1000px;
}

